<%-include('include/navbar')%>


   <!-- Page Header-->
   <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Edit Articles</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>
 <!-- Page Header-->

<div class="container">
    <h1 class="mb-4">Edit Article</h1>
    <form action="/articles/<%= article.id %>?_method=put" method="post">
        <%-include('from_fields') %>
    </form> 
    
</div>

 


<%-include('include/_footer')%>
