
<%-include('include/navbar')%>


<!-- Page Header-->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
             
          
            <form action="/users" method="post">
          <%-include('singup_from') %>
          </form>
          </div> 
      </div>
  </div>
</header>
<!-- Page Header-->





<%-include('include/_footer')%>


